{% extends 'base.html.twig' %}

{% block body %}
<section class="central">   
    {#
    {% for product in products %}
    <div class="item-container">
        <h5><a href="/product/{{ product.id }}">{{ product.name }}</a></h5>
        <div class="product-info">
            <div>
                <p>Рейтинг: {{ product.raiting }} / 5</p>
                <p>Отзывов: {{ amount }}</p>
            </div>
            <p>Добавлено: {{ product.addDate|date('d-m-Y') }}</p>
        </div>
    </div>
    {% endfor %}
    #}
</section>
{% endblock %}
